local_execute
node_modules/
dist/
temp/
video/
wiki/
readme/
delete/

.env
npm-debug.log
git_url.txt
README.pdf 
start_fail.log
Branch_Operations_Manual_1_6_en-us.pdf
fileTest.js
pdfSegmentConfig_backup.json
pdfSegmentConfig_mini.json
sample01.md
sample01.pdf
src/main_20181002.js
src/components/Matches/index_20181003.js
