# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_VERSION_DATE="2018-03-05"
DISCOVERY_URL=<add_discovery_url>
DISCOVERY_ENVIRONMENT_ID=<add_discovery_environment_id>
DISCOVERY_COLLECTION_ID=<add_discovery_collection_id>
DISCOVERY_COLLECTION_NAME=mycollection
DISCOVERY_COLLECTION_DESC=myCollection

## Un-comment and use either username+password or IAM apikey.
DISCOVERY_IAM_APIKEY=<add_discovery_iam_apikey>
# DISCOVERY_USERNAME=<add_discovery_username>
# DISCOVERY_PASSWORD=<add_discovery_password>
DISCOVERY_CONFIGURATION_FILE=pdfSegmentConfig.json

# a list of configurations to delete, comma seperated
DISCOVERY_CONFIG_DELETE=config-pdf-seg,config-pdf-seg02,config-pdf-seg03,config-pdf-seg04

# Run locally on a non-default port (default is 3000)
# PORT=3000